@font-face {
    font-family: 'a_futuraortobold';
    src: 
//        url('../fonts/6845-webfont.woff2') format('woff2'),
//         url('../fonts/6845-webfont.woff') format('woff'),
         url('../fonts/FuturaR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'a_futuraortoregular';
    src: 
//        url('../fonts/6851-webfont.woff2') format('woff2'),
//         url('../fonts/6851-webfont.woff') format('woff'),
         url('../fonts/FuturaR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}