$coral: #DA2919;
$orange: #FD8228;
$orangeP: #C97A41;
$white: #FFF;
$darkBlue: #082F54;
$grey: #6E6E6E;
$tr: transparent;
$orangeH: #FA6F32;
$lBraun: #AE745C;
$lBraun2: #B7815F;
$violet: #2a1647;
$white: #FFF;
$biruz: #19929C;
$bez: #E2CCC1;
$bez2: #CCAD9A;
$but: #F8F2EE;
$hovBtn: #8D7C6C;
$bg_lightBlue: #EBEBEB;
$lBlue: #EEEEEE;
$form_border: #808285;
* {
    outline: none;
}

button:focus {
    background-color: transparent;
}

.head_h1 {
    font-family: 'a_futuraortoregular', 'Arial,' sans-serif;
    font-size: 55px;
    color: $white;
}

.head_h1 b {
    font-family: 'a_futuraortobold', 'Arial,' sans-serif;
    text-transform: uppercase;
}

.uppCase {
    text-transform: uppercase;
}

.page_name {
    font-size: 30px;
    font-weight: 600;
    color: #2a1647;
    padding: 50px 0 20px;
}
.main_btn {
    background-color: rgba($white, 0.7);
    padding: 15px 115px;
    margin-top: 40px;
    border-radius: 5px;
    display: inline-block;
    color: $violet;
    border: 1px solid $lBraun2;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background-color: $hovBtn;
        color: $white;
    }
}

.add_head {
    font-size: 20px;
    text-transform: uppercase;
    color: $hovBtn;
    font-weight: 600;
}

.main_head {
    font-size: 30px;
    margin-bottom: 36px;
    color: $lBraun;
    font-family: 'a_futuraortoregular', 'Arial,' sans-serif;
}

@media screen and (max-width:740px) {
    .main_head {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .main_p {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

.main_p {
    font-size: 18px;
    margin-bottom: 35px;
    color: $violet;
    font-family: 'a_futuraortoregular', 'Arial,' sans-serif;
}

.main_p b {
    font-family: 'a_futuraortobold', 'Arial,' sans-serif;
    font-weight: 600;
}

.bg_bez {
    background-color: $bez;
}

.bg_bez .main_head {
    color: $violet;
}

a {
    color: $white;
}

$grradientCertificates: linear-gradient(135deg, $darkBlue 0%, $darkBlue 25%, $white 25%, $white 26%, $darkBlue 26%, $darkBlue 50%, $white 50%, $white 51%, $darkBlue 51%, $darkBlue 75%, $white 75%, $white 76%, $darkBlue 76%, $darkBlue 100%);
