<div class="wr">
    <div class="flex_item">
        <div class="name">Информация</div>
        <ul>
            <li><a class="hvr-underline-from-center" href="#">О нас</a></li>
            <li><a class="hvr-underline-from-center" href="#">Оплата</a></li>
            <li><a class="hvr-underline-from-center" href="delivery.html">Доставка</a></li>
            <li><a class="hvr-underline-from-center" href="vacancies.html">Вакансии</a></li>
            <li><a class="hvr-underline-from-center" href="contacts.html">Контакты</a></li>
            <li><a class="hvr-underline-from-center" href="#">Скачать прайс</a></li>
        </ul>
    </div>
    <div class="flex_item">
        <div class="name">Продукция</div>
        <ul>
            <li><a class="hvr-underline-from-center" href="#">Рыба холодного копчения</a></li>
            <li><a class="hvr-underline-from-center" href="#">Рыба слобосоленая</a></li>
            <li><a class="hvr-underline-from-center" href="#">Рыба горячего копчения</a></li>
            <li><a class="hvr-underline-from-center" href="#">Пресервы из морепродуктов</a></li>
            <li><a class="hvr-underline-from-center" href="#">Рыба вяленая</a></li>
            <li><a class="hvr-underline-from-center" href="#">Рыбные снеки</a></li>
            <li><a class="hvr-underline-from-center" href="#">Салаты</a></li>
        </ul>
    </div>
    <div class="flex_item">
        <div class="name">Мы на сваязи</div>
        <ul>
            <li><a class="hvr-underline-from-center" href="contacts.html">Контакты</a></li>
            <li><a class="hvr-underline-from-center" href="tel:+380975208885" class="phone headerFI hvr-underline-from-left"><b>097 520 88 85</b></a></li>
            <li><a class="hvr-underline-from-center" href="#">Facebook</a></li>
        </ul>
    </div>
</div>
<div class="wr rights">
    <a href="#" class="logo1 headerFI"></a>
    <p>&copy; 2017 Все права защищены</p>
    <a href="#" class="logo icon-logo_vt headerFI"></a>
</div>
